// start .sServices
.sServices {
	--sPT: #{rem(25)};
	--sPB: #{rem(25)};
	text-align: center;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(50)};
		--sPB: #{rem(50)};
	}
	// --sTPB: ;
	&__row {
		--bs-gutter-y: #{rem(30)};
	}
	--card-scale: 0;
	&__wrap {
		background-color: $white;
		border-radius: 8px;
		padding: rem(31) rem(35);
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		&:hover {
			--card-scale: 1;
		}
		img {
			margin-bottom: auto;
		}
		p {
			margin-bottom: 0;
			font-size: rem(16);
			font-weight: 500;
			margin-top: rem(5);
			span {
				font-weight: 800;
				color: $blue;
				display: inline-block;
			}
		}
	}
	&__title {
		font-weight: 800;
	}
	.tabs {
		margin-bottom: 0;
		&__caption {
			margin-bottom: rem(25);
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(50);
			}
		}
		& + a {
			margin-top: rem(51);
		}
	}
	&__moreInfo {
		@include mt;
		position: absolute;
		width: 100%;
		background-color: $white;
		padding: rem(15) rem(21);
		transform: scaleY(var(--card-scale,0));
    transform-origin: top;
		left: 0;
		top: calc(100% + 5px);
		box-shadow: 0px 4px 15px rgba(116, 136, 166, 0.2);
		border-radius: 8px;
		z-index: 2;
		&:before {
			content: '';
			position: absolute;
			top: -10px;
			left: 0;
			width: 100%;
			height: 20px;
			background-color: transparent;
		}
		p {
			font-size: rem(14);
			color: $info;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sServices
	
.section-title {
	margin-bottom: rem(25);
	@include media-breakpoint-up(lg) {
		margin-bottom: rem(50);
	}
	h2 {
		margin-bottom: rem(20);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(30);
		}
	}
	span {
		color: $blue;
	}
	p {
		color: $info;
		margin-bottom: 0;
	}
}
.tabs {
	overflow: visible;
	margin-bottom: rem(49);
	&__caption {
		display: flex;
		align-items: center;
		// flex-wrap: wrap;
		// gap: rem(30);
		@include media-breakpoint-up(lg) {
			justify-content: center;
		}
	}
	&__btn {
		@include mt;
		color: $info;
		padding-bottom: rem(11);
		border-bottom: 3px solid $white;
		&.active, &:hover {
			color: $dark;
			border-bottom-color: $blue;
		}
		h5 {
			margin-bottom: 0;
		}
		&:not(:last-child) {
			margin-right: rem(30);
		}
	}
	&__content {
		text-align: center;
	}
}