
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data.h3.ttu Вызвать ритуального агента
					p.after-headline Оставьте контактные данные и&nbsp;мы&nbsp;свяжемся с&nbsp;Вами в&nbsp;течение 10&nbsp;минут.
					+e.soc-title Способ связи:
					+modalSoc()
						+item-sos('telegram')
						+item-sos('viber')
						+item-sos('whatsapp')
						+item-sos('phone')
					+input('+7 (___) ___-__-__', 'tel')
					button(type="submit").btn.btn-secondary Отправить
					+e.text Нажимая «Отправить», Вы соглашаетесь с #[a(href="#") политикой конфиденциальности данных].

	// #modal-call
	
	// end modals