mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Контакты
			<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A77e959ef2fb061d43b0c0dd7ef7342a55caaf48b58189049491d8668b48eb7f8&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>
			.row
	// end sContact