// start .sCatalogHead
.sCatalogHead {
	--sPT: 0;
	--sPB: #{rem(60)};
	// --sTPB: ;
	&__wrap {
		background-color: #fff;
		border-radius: 8px;
		padding: rem(20);
		@include media-breakpoint-up(md) {
			padding: rem(59) rem(65) rem(39) rem(79);
		}
	}
	.section-title {
		max-width: rem(423);
		@include media-breakpoint-down(md) {
			margin-bottom: 0;
		}
		h1 {
			margin-bottom: 30px;
		}
		p {
			font-size: rem(15);
			line-height: 1.60em;
			@include media-breakpoint-up(md) {
				font-size: rem(19);
			}
		}
	}
	
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCatalogHead

.list-of-services {
	max-width: rem(580);
	margin-left: auto;
	&__row {
		--bs-gutter-x: 0;
	}
	a {
		display: flex;
		align-items: center;
		border: 2px solid transparent;
		border-radius: 8px;
		padding: rem(16) rem(25) rem(16) rem(29);
		color: rgba($color: $info, $alpha: 0.5);
		@include media-breakpoint-down(md) {
			padding: rem(22) rem(15) rem(19) rem(15);
		}
		.icon {
			font-size: rem(48);
			min-width: rem(39);
			margin-right: rem(30);
		}
		&:hover {
			color: $blue;
			border-color: $body-bg;
		}
	}
	&__text-wrap {
		h6 {
			color: $dark;
			margin-bottom: rem(6);
		}
		p {
			color: $info;
			margin-bottom: 0;
			span {
				color: $blue;
				font-size: rem(19);
				font-weight: 800;
			}
		}
	}
}