// start .sArticles
.sArticles {
	--sPT: #{rem(12.700)};
	--sPB: #{rem(50)};
	// --sTPB: ;
	--imgH: 294;
	--imgH2: 182;
	--imgPrecent: calc(var(--imgH2) / var(--imgH));
	--imgMinus: calc(var(--imgH) - var(--imgH2));
	--opacity: 1;
	.section-title {
		margin-bottom: rem(30.100);
		h1 {
			margin-bottom: 0;
		}
	}
	&__row {
		--bs-gutter-y: var(--bs-gutter-x);
	}
	&__wrap {
		@include mt;
		&:hover{
			.sArticles__img-wrap {
				transform: scaleY(var(--imgPrecent, 0));
				img {
					transform: scaleY(calc(1 + var(--imgPrecent)));
					transform-origin: top;
					// height: calc(var(--imgH2) * 1px);
				}
			}
			.sArticles__text-wrap {
				transform: translateY(calc(var(--imgMinus) * -1px));
			}
			.sArticles__text {
				opacity: var(--opacity, 0);
			}
			h5 {
				color: $indigo;
				text-decoration: underline;
			}
		}
		h5 {
			@include mt;
			margin-bottom: rem(16.400);
			color: $dark;
		}
		p {
			color: $info;
			margin-bottom: 0;
		}
	}
	&__text {
		@include mt;
		color: $info;
		margin-bottom: 0;
		opacity: 0;
		position: absolute;
		top: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
	}
	&__text-wrap {
		@include mt;
		position: relative;
	}
	&__img-wrap {
		@include mt;
		margin-bottom: rem(23.729);
		transform-origin: top;
		overflow: hidden;
		img {
			@include mt;
			border-radius: 8px;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sArticles