// start .sArticles
.sArticles {
	--sPT: #{rem(12.700)};
	--sPB: #{rem(50)};
	// --sTPB: ;
	--imgH: 294px;
	--imgH2: 182px;
	.section-title {
		margin-bottom: rem(30.100);
		h1 {
			margin-bottom: 0;
		}
	}
	&__row {
		--bs-gutter-y: var(--bs-gutter-x);
	}
	&__wrap {
		@include mt;
		&:hover{
			// --imgPrecent: calc(var(--imgH2) / var(--imgH));
			--imgMinus: calc(var(--imgH) - var(--imgH2));
			--opacity: 1;
			--imgHBase: var(--imgH2);
			h5 {
				color: $indigo;
				text-decoration: underline;
			}
		}
		h5 {
			@include mt;
			margin-bottom: rem(16.400);
			color: $dark;
		}
		p {
			color: $info;
			margin-bottom: 0;
		}
	}
	&__text {
		@include mt;
		color: $info;
		margin-bottom: 0;
		position: absolute;
		top: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		opacity: var(--opacity, 0);
	}
	&__text-wrap {
		@include mt;
		position: relative;
		transform: translateY(calc(var(--imgMinus, 0) * -1));
	}
	&__img-wrap {
		margin-bottom: rem(23.729);
		overflow: hidden;
		height: var(--imgH);
		img {
			@include mt;
			// transform: scaleY(var(--imgPrecent, 1));
			height: var(--imgHBase, var(--imgH));
			border-radius: 8px;
			transform-origin: top;

		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sArticles