@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-left {
	font-size:math.div(25,10)*1rem;
	width: math.div(24,25)*1em;
}
.icon-arrow-right {
	font-size:math.div(25,10)*1rem;
	width: math.div(24,25)*1em;
}
.icon-basket {
	font-size:math.div(24,10)*1rem;
	width: math.div(22,24)*1em;
}
.icon-calculator {
	font-size:math.div(33,10)*1rem;
	width: math.div(33,33)*1em;
}
.icon-check {
	font-size:math.div(27,10)*1rem;
	width: math.div(27,27)*1em;
}
.icon-check-icon {
	font-size:math.div(18,10)*1rem;
	width: math.div(18,18)*1em;
}
.icon-dd-arrow-up {
	font-size:math.div(25,10)*1rem;
	width: math.div(24,25)*1em;
}
.icon-ddGroup-icon {
	font-size:math.div(26,10)*1rem;
	width: math.div(26,26)*1em;
}
.icon-fb {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-instagram {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-phone {
	font-size:math.div(22,10)*1rem;
	width: math.div(22,22)*1em;
}
.icon-sServices-icon-1 {
	font-size:math.div(58,10)*1rem;
	width: math.div(30,58)*1em;
}
.icon-sServicesSlider-icon-1 {
	font-size:math.div(58,10)*1rem;
	width: math.div(30,58)*1em;
}
.icon-sServicesSlider-icon-2 {
	font-size:math.div(55,10)*1rem;
	width: math.div(74,55)*1em;
}
.icon-sServicesSlider-icon-3 {
	font-size:math.div(56,10)*1rem;
	width: math.div(57,56)*1em;
}
.icon-sServicesSlider-icon-4 {
	font-size:math.div(53,10)*1rem;
	width: math.div(56,53)*1em;
}
.icon-sServicesSlider-icon-5 {
	font-size:math.div(57,10)*1rem;
	width: math.div(34,57)*1em;
}
.icon-service-icon-1 {
	font-size:math.div(48,10)*1rem;
	width: math.div(39,48)*1em;
}
.icon-service-icon-2 {
	font-size:math.div(48,10)*1rem;
	width: math.div(49,48)*1em;
}
.icon-service-icon-3 {
	font-size:math.div(48,10)*1rem;
	width: math.div(38,48)*1em;
}
.icon-service-icon-4 {
	font-size:math.div(48,10)*1rem;
	width: math.div(48,48)*1em;
}
.icon-service-icon-5 {
	font-size:math.div(48,10)*1rem;
	width: math.div(32,48)*1em;
}
.icon-service-icon-6 {
	font-size:math.div(47,10)*1rem;
	width: math.div(43,47)*1em;
}
.icon-service-icon-7 {
	font-size:math.div(48,10)*1rem;
	width: math.div(34,48)*1em;
}
.icon-service-icon-8 {
	font-size:math.div(48,10)*1rem;
	width: math.div(40,48)*1em;
}
.icon-service-icon-9 {
	font-size:math.div(50,10)*1rem;
	width: math.div(50,50)*1em;
}
.icon-telegram {
	font-size:math.div(11,10)*1rem;
	width: math.div(13,11)*1em;
}
.icon-viber {
	font-size:math.div(13,10)*1rem;
	width: math.div(12,13)*1em;
}
.icon-vk {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-whatsapp {
	font-size:math.div(13,10)*1rem;
	width: math.div(13,13)*1em;
}
.icon-why-item-1 {
	font-size:math.div(37,10)*1rem;
	width: math.div(37,37)*1em;
}
.icon-why-item-2 {
	font-size:math.div(37,10)*1rem;
	width: math.div(37,37)*1em;
}
.icon-why-item-3 {
	font-size:math.div(37,10)*1rem;
	width: math.div(37,37)*1em;
}
.icon-why-item-4 {
	font-size:math.div(37,10)*1rem;
	width: math.div(37,37)*1em;
}
