mixin sHowWeWork(data)
	// start sHowWeWork
	+b.SECTION.sHowWeWork.section#sHowWeWork&attributes(attributes)
		.container
			+e.wrap
				.row
					.col-lg-6
						h2 Как работает Городская Круглосуточная Ритуальная Служба?
						+e.P.subtitle Мы&nbsp;придерживаемся прозрачной политики в&nbsp;отношении наших клиентов и&nbsp;гарантируем качественное исполнение в&nbsp;кратчайшие сроки. Мы&nbsp;берем на&nbsp;себя все хлопоты по&nbsp;организации достойных похорон и&nbsp;оберегаем Ваш траур. Наша работа состоит из&nbsp;следующих этапов.
					.col-lg-6
						ul
							li
								+e.num 1
								p Формируем наиболее выгодное для Вас предложение.
							li
								+e.num 2
								p Заключаем договор
							li
								+e.num 3
								p Получаем свидетельство о смерти
							li
								+e.num 4
								p Подаем заявку на захоронение или кремацию
							li
								+e.num 5
								p Подбираем место прощания, если таковое требуется
							li
								+e.num 6
								p Накануне процессии сдаем всё необходимое в&nbsp;морг
							li
								+e.num 7
								p В&nbsp;день похорон регистрируем документы о&nbsp;смерти в&nbsp;морге, проверяем состояние усопшего и&nbsp;целостность похоронных принадлежностей
							li
								+e.num 8
								p Доставляем усопшего и&nbsp;похоронных принадлежностей к&nbsp;месту захоронения/кремации
							li
								+e.num 9
								p Встречаем прощающихся и&nbsp;провожаем к&nbsp;месту прощания
							li
								+e.num 10
								p Передаем документы заказчикам. В&nbsp;случае кремации и&nbsp;получения урны агентом, документы выдаются на&nbsp;руки вместе с&nbsp;урной с&nbsp;прахом
				+img('img/sHowWeWork-img.png')
	// end sHowWeWork