// start .headerBlock
.headerBlock {
	padding-top: rem(110);
	padding-bottom: 0;
	@include media-breakpoint-down(sm) {
		padding-top: 0;
	}
	// min-height: 100vh;
	// min-height: calc(var(--vh, 1vh) * 100);
	// background-image: url(../img);
	// background-color: #000000;
.container {
	position: relative;
}
h1 {
	margin-bottom: rem(33);
	line-height: 135%;
}
&__text {
	max-width: 630px;
	padding-bottom: rem(150);
}

&__descr {
	margin-bottom: rem(27);
	font-size: rem(19);
}

.small {
	margin-bottom: 6px;
}

&__action {
	display: block;
	margin-bottom: rem(10);
	font-size: rem(18);
	color: $blue;
	font-weight: 800;
	@include media-breakpoint-up(sm) {
		font-size: rem(30);
	}
}

&__btn {
	margin-top: rem(22);
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
}

.btn-secondary {
	@include media-breakpoint-up(md) {
		margin-right: rem(17);
	}
}

.btn-primary {
	@include media-breakpoint-up(md) {
		width: 62%;
	}
}
// opacity: .5;
// @include media-breakpoint-up(xl) {
// 	opacity: 1;
// }

	span {
		color: $blue;
	}

	img {
		position: absolute;
		bottom: 0;
		// right: -23%;
		z-index: -1;
		opacity: .5;
		// right: 50%;
		// margin-right: -513px;
		@include media-breakpoint-down(md) {
			width: 130%;
		}
		@include media-breakpoint-up(xl) {
			opacity: 1;
			right: -34%;
		}
		@include media-breakpoint-up(xxl) {
			right: -20%;
		}
	}

	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock