mixin sProductsPreview(data)
	// start sProductsPreview
	+b.SECTION.sProductsPreview.section#sProductsPreview&attributes(attributes)
		.container
			+e.wrap
				+b.section-title.text-center
					h2 У&nbsp;нас можно приобрести необходимые предметы
					p Поможем организовать достойные похороны
				.tabs
					.tabs__caption
						.tabs__btn.active
							h5 Погребение
						.tabs__btn
							h5 Кремация
						.tabs__btn
							h5 Организация похорон
						.tabs__btn
							h5 Другие услуги
					.tabs__content.active
						
	// end sProductsPreview