// start .sProductsPreview
.sProductsPreview {
	--sPT: #{rem(25)};
	--sPB: #{rem(25)};
	// --sTPB: ;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(50)};
		--sPB: #{rem(50)};
	}
	&__wrap {
		background-color: $white;
		padding-top: rem(50);
		padding-bottom: rem(50);
		padding-right: rem(25);
		padding-left: rem(25);
		border-radius: 8px;
		@include media-breakpoint-up(lg) {
			padding-top: rem(100);
			padding-bottom: rem(100);
			padding-right: rem(50);
			padding-left: rem(50);
		}
	}
	.section-title {
		margin-bottom: rem(40);
		h2 {
			margin-bottom: rem(30);
		}
	}
	.tabs {
		&__caption {
			margin-bottom: rem(20);
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(40);
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sProductsPreview