// start .sOurFaces
.sOurFaces {
	--sPT: #{rem(50)};
	--sPB: #{rem(50)};
	// --sTPB: ;
	&__container {
		position: relative;
	}
	.section-title {
		h2 {
			margin-bottom: rem(40);
		}
	}
	&__wrap {
		text-align: center;
		p {
			font-size: rem(16);
			color: $info;
		}
	}
	&__title {
		margin-bottom: rem(5);
	}
	&__img-wrap {
		@include block(300, 370);
		margin-bottom: rem(20);
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.swiper-button-hand {
		color: #AAAEBE;
		border: none;
		width: rem(50);
		height: rem(50);
		display: flex;
		align-items: center;
		justify-content: center;
		.icon {
			font-size: rem(24);
		}
		&:hover {
			background-color: #AAAEBE;
			color: $white;
		}
		&-next {
			right: -60px;
		}
		&-prev {
			left: -60px;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sOurFaces