// start .sHaveQuestions
.sHaveQuestions {
	--sPT: #{rem(50)};
	--sPB: #{rem(50)};
	// --sTPB: ;
	.section-title {
		margin-bottom: rem(29);
		p {
			@include media-breakpoint-down(md) {
				font-size: rem(15);
			}
		}
	}
	.form-wrap {
		margin-bottom: rem(30);
		form {
			@include media-breakpoint-up(sm) {
				display: flex;
				justify-content: center;
				align-self: center;
				flex-wrap: wrap;
				gap: rem(30);
			}
		}
		&__input {
			background-color: $white;
			border: none;
			&::placeholder {
				text-transform: uppercase;
				letter-spacing: 0.1em;
			}
			@include media-breakpoint-down(sm) {
				margin-bottom: rem(15);
			}
		}
		button {
			@include media-breakpoint-down(sm) {
				width: 100%;
			}
		}
		p {
			color: $info;
			font-size: rem(16);
			line-height: 1.60em;
			@include media-breakpoint-down(md) {
				font-size: rem(14);
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sHaveQuestions

.sponsors {
	margin-top: rem(50);
	@include media-breakpoint-up(lg) {
		margin-top: rem(100);
	}
	&__wrap {
		background-color: $white;
		padding: rem(16) 0;
		border-radius: 8px;
		max-width: rem(410);
		height: auto;
		display: flex;
    justify-content: center;
    align-items: center;
	}
}