// start .sHaveQuestions
.sHaveQuestions {
	--sPT: #{rem(50)};
	--sPB: #{rem(100)};
	// --sTPB: ;
	.section-title {
		margin-bottom: rem(34);
		p {
			font-size: rem(15);
			@include media-breakpoint-up(md) {
				font-size: rem(19);
			}
		}
	}
	.form-wrap {
		margin-bottom: rem(30);
		form {
			@include media-breakpoint-up(sm) {
				display: flex;
				justify-content: center;
				align-self: center;
				flex-wrap: wrap;
				gap: rem(30);
			}
		}
		&__input {
			background-color: $white;
			border: none;
			&::placeholder {
				text-transform: uppercase;
				letter-spacing: 0.1em;
			}
			@include media-breakpoint-down(sm) {
				margin-bottom: rem(15);
			}
			&-wrap {
				width: 100%;
    		max-width: 300px;
			}
		}
		&__button {
			width: 100%;
    	max-width: 217px;
		}
	}
	&__text {
		color: $info;
		font-size: rem(16);
		line-height: 1.60em;
		margin-bottom: 0;
		text-align: center;
		@include media-breakpoint-down(md) {
			font-size: rem(14);
		}
		a {
			text-decoration: underline;
		}
	}
	&__wrap {
		background-color: #fff;
		border-radius: 8px;
		padding: rem(90) rem(10);
		.form-wrap {
			&__input {
				background-color: $body-bg;
				color: $info;
				&::placeholder {
					color: $info;
				}
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sHaveQuestions

.sponsors {
	margin-top: rem(50);
	@include media-breakpoint-up(lg) {
		margin-top: rem(100);
	}
	&__wrap {
		background-color: $white;
		padding: rem(16) 0;
		border-radius: 8px;
		max-width: rem(410);
		height: auto;
		display: flex;
    justify-content: center;
    align-items: center;
	}
}