extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sWhy/_sWhy.pug
include ../blocks/sSteps/_sSteps.pug
include ../blocks/sServices/_sServices.pug
include ../blocks/sProductsPreview/_sProductsPreview.pug
include ../blocks/sReferences/_sReferences.pug
include ../blocks/sHowWeWork/_sHowWeWork.pug
include ../blocks/sOurFaces/_sOurFaces.pug
include ../blocks/sPackages/_sPackages.pug
include ../blocks/sFaq/_sFaq.pug
include ../blocks/sHaveQuestions/_sHaveQuestions.pug
include ../blocks/sCremation/_sCremation.pug
include ../blocks/sServicesSlider/_sServicesSlider.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= 'Кремация'
block pagecontent
	//- +mob-mnu()
	
	
	+header()
	+topLine
	+top-nav()
	+page-head('Главная', 'Услуги', title)
	+sCremation()
	+sServicesSlider()
	+sProductsPreview('Сопутствующие товары', '', '')
	+sHaveQuestions('Вызов ритуального агента','true')
	+footer()