mixin sSize(data)
	// start sSize
	+b.SECTION.sSize.section#sSize&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Размер пособия
			p Предусматривается ежегодная индексация в&nbsp;соответствии с&nbsp;бюджетом на&nbsp;будущий год. В&nbsp;законе можно найти фиксированную стоимость пособия. На&nbsp;2018 год с&nbsp;учетом инфляции и&nbsp;индексации размер компенсации оказался равен чуть больше пяти с&nbsp;половиной тысяч рублей.
			p Не&nbsp;во&nbsp;всех регионах он&nbsp;одинаковый. Учитываются также районные коэффициенты, которые в&nbsp;разных регионах имеют неодинаковые значения. Рассмотрим на&nbsp;примере. В&nbsp;республике Алтай действует коэффициент в&nbsp;размере 1,4. То&nbsp;есть это прибавка в&nbsp;40% к&nbsp;фиксированной сумме.
			p Следовательно, денежные выплаты на&nbsp;похороны в&nbsp;этом регионе составят почти 8&nbsp;тысяч рублей. А&nbsp;вот в&nbsp;Тульской области районного коэффициента как такового нет (он&nbsp;равен&nbsp;1), поэтому размер пособия будет равен фиксированной сумме.
	// end sSize