// start .sSteps
.sSteps {
	--sPT: #{rem(14)};
	--sPB: #{rem(100)};
	// --sTPB: #{rem(34)};
	counter-reset: steps;
	.section-title {
		margin-bottom: 34px;
	}	
	.small {
		margin-bottom: rem(70);
		text-align: center;
		font-size: rem(19);
	}

	.row {
		margin-bottom: rem(118);
		--bs-gutter-y: #{rem(60)};
		@include media-breakpoint-up(md) {
			--bs-gutter-y: #{rem(40)}
		}
	}
		@include media-breakpoint-up(xl) {}
		@include media-breakpoint-up(lg) {}
		@include media-breakpoint-up(md) {}
		@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sSteps

.step-item {
	position: relative;
	text-align: center;
	&:hover {
		.step-item__text {
			top: 0;
			height: 100%;
			opacity: .8;
			@include media-breakpoint-up(md) {
				top: 50%;
				height: auto;
				bottom:0;
				opacity: 1;
			}
			@include media-breakpoint-up(lg) {
				top: 68%;
			}
		}
		.step-item__descr {
			display: block;
			transform: translateY(0);
		}
	}
	&__img-wrap {
		margin-bottom: rem(23);
		@include block(300, 294);
		&::after {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			counter-increment: steps;
			content: counter(steps);
			font-weight: 800;
			font-size: rem(190);
			line-height: rem(146);
			z-index: 5;
			color: $body-bg;
		}
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		max-width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: $border-radius;
	}
	&__text {
		background-color: $body-bg;
		position: absolute;
		width: 100%;
		left: 50%;
		top: 104%;
		transform: translateX(-50%);
		@include mt;
		z-index: 10;
	}
	&__title {
		padding: rem(10) 0;
		font-weight: 800;
		font-size: rem(17);
		@include media-breakpoint-up(md) {
			font-size: rem(19);
		}
	}
	& .step-item__descr {
		font-size: 16px;
		display: none;
		// transform: translateY(-10px);
		@include mt;
	}
}