// start .sSteps
.sSteps {
	--sPT: #{rem(14)};
	--sPB: #{rem(100)};
	counter-reset: steps;
	.section-title {
		margin-bottom: 34px;
	}	
	.small {
		margin-bottom: rem(70);
		text-align: center;
		font-size: rem(19);
	}
	.row {
		--bs-gutter-y: #{rem(60)};
		@include media-breakpoint-up(md) {
			--bs-gutter-y: #{rem(40)}
		}
	}
		@include media-breakpoint-up(xl) {}
		@include media-breakpoint-up(lg) {}
		@include media-breakpoint-up(md) {}
		@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sSteps

.step-item {
	--imgH: 294px;
	--imgH2: 182px;
	@include mt;
	text-align: center;
	&:hover {
		--imgMinus: calc(var(--imgH) - var(--imgH2));
		--opacity: 1;
		--imgHBase: var(--imgH2);
		// .step-item__text {
		// 	top: 0;
		// 	height: 100%;
		// 	opacity: .8;
			// @include media-breakpoint-up(md) {
			// 	top: 50%;
			// 	height: auto;
			// 	bottom:0;
			// 	opacity: 1;
			// }
			// @include media-breakpoint-up(lg) {
			// 	top: 68%;
			// }
		}
		// .step-item__descr {
		// 	display: block;
		// 	transform: translateY(0);
		// }
	&__img-wrap {
		margin-bottom: rem(23.729);
		// margin-bottom: rem(23.729);
		overflow: hidden;
		height: var(--imgH);
		// &::after {
		// 	position: absolute;
		// 	bottom: 0;
		// 	left: 50%;
		// 	transform: translateX(-50%);
		// 	counter-increment: steps;
		// 	content: counter(steps);
		// 	font-weight: 800;
		// 	font-size: rem(190);
		// 	line-height: rem(146);
		// 	z-index: 5;
		// 	color: $body-bg;
		// }
	}
	img {
		@include mt;
		height: var(--imgHBase, var(--imgH));
		border-radius: 8px;
		transform-origin: top;
	}
	&__text {
		background-color: $body-bg;
		position: relative;
		transform: translateY(calc(var(--imgMinus, 0) * -1));
		@include mt;
	}
	&__title {
		padding: rem(10) 0;
		font-weight: 800;
		font-size: rem(17);
		@include media-breakpoint-up(md) {
			font-size: rem(19);
		}
	}
	& .step-item__descr {
		font-size: 16px;
	// 	display: none;
		// transform: translateY(-10px);
		// @include mt;
	}
}