// start .sWhy
.sWhy {
		--sPT: 0;
		// --sPB: ;
		--sTPB: #{rem(43)};
	&__inner {
		padding: rem(105) 10px  rem(55);
		background-color: $white;
		border-radius: $border-radius;
		margin: 0 auto;
		}

	.small {
		max-width: 1055px;
		margin: 0 auto rem(57);
		font-size: rem(19);
		line-height: 160%;
	}

	.row {
		justify-content: center;
	}
	&__row {
		background-color: $white;
	}
	// &__items-list {		
	// 	max-width: 1130px;
	// 	margin: 0 auto;
	// 	display: flex;
	// 	align-items: center;
	// 	justify-content: space-between;
	// }
	&--2 {
		--sPT: #{rem(50)};
		--sPB: #{rem(50)};
		.sWhy__row {
			border-radius: 8px;
			padding-top: rem(77);
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sWhy

.why-item {
	position: relative;
	// height: 100%;
	display: flex;
	flex-direction: column;
	align-items:center;
	@include media-breakpoint-up(xxl) {
		width: 294px !important;
	}
	&:not(:last-child) {
		&::after {
			content: '';
			position: absolute;
			width: 1px;
			height: 54%;
			right: 0;
			top: 10%;
			background-color: rgba($info, .2)
		}
	}
	.icon {
		margin-bottom: rem(24);
		fill: none;
		stroke: $secondary;
		font-size: rem(36);
	}
	&__title {
		margin-bottom: rem(8);
		font-size: rem(19);
		font-weight: 800;
	}
	& .why-item__descr {
		max-width: 200px;
		font-size: rem(16);
	}
}