mixin sFeaturesOfWork(data)
	// start sFeaturesOfWork
	+b.SECTION.sFeaturesOfWork.section#sFeaturesOfWork&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Особенности работы
				p Наша компания работает в&nbsp;рамках действующего законодательства РФ. Наши сотрудники быстро реагируют на&nbsp;изменения, которые происходят в&nbsp;сфере ритуальных услуг в&nbsp;Санкт-Петербурге и&nbsp;области.<br>Основной спектр услуг, которые оказывает ГКРС:
			ul
				li
					+e.icon-wrap
						+img('img/svg/sFeaturesOfWork-icon-1.svg')
					+e.text-wrap
						h4 Вызов агента
						p специалист помогает собрать и&nbsp;подготовить нужные документы, необходимые для захоронения, получения социальной помощи, консультирует по&nbsp;вопросам погребения, организации поминок и&nbsp;т.д.
				li
					+e.icon-wrap
						+img('img/svg/sFeaturesOfWork-icon-2.svg')
					+e.text-wrap
						h5 Перевозка умерших
						p осуществляется по Москве и МО на спецтранспорте согласно действующему законодательству
				li
					+e.icon-wrap
						+img('img/svg/sFeaturesOfWork-icon-3.svg')
					+e.text-wrap
						h5 Организация транспорта для сопровождающих лиц
						p предоставляются автомобили, микроавтобусы, автобусы
				li
					+e.icon-wrap
						+img('img/svg/sFeaturesOfWork-icon-4.svg')
					+e.text-wrap
						h5 Ритуальное отпевание
						p проводится по обряду вероисповедания усопшего с участием священнослужителя
				li
					+e.icon-wrap
						+img('img/svg/sFeaturesOfWork-icon-5.svg')
					+e.text-wrap
						h5 Похоронный оркестр
						p Музыка помогает проводить в последний путь родного человека с почестями
				li
					+e.icon-wrap
						+img('img/svg/sFeaturesOfWork-icon-6.svg')
					+e.text-wrap
						h5 Бальзамирование
						p Процедура позволяет сохранить тело человека после смерти, максимально приближенным к его жизненному образу, также необходима в случае длительной транспортировки
				li
					+e.icon-wrap
						+img('img/svg/sFeaturesOfWork-icon-7.svg')
					+e.text-wrap
						h5 Перезахоронение
						p для проведения комплекса мероприятий необходимы соответствующие разрешения
	// end sFeaturesOfWork
