// start .sFeaturesOfWork
.sFeaturesOfWork {
	--sPT: #{rem(25)};
	--sPB: #{rem(25)};
	// --sTPB: ;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(53)};
		--sPB: #{rem(50)};
	}
	.section-title {
		max-width: rem(990);
		margin-left: auto;
		margin-right: auto;
		margin-bottom: rem(67);
		h2 {
			margin-bottom: rem(35);
		}
		p {
			font-size: rem(19);
			line-height: 1.60em;
		}
	}
	ul {
		max-width: rem(805);
		margin-left: auto;
		margin-right: auto;
		list-style-type: none;
		margin-bottom: 0;
		li {
			// align-items: flex-start;
			// flex-direction: column;
			@include media-breakpoint-up(md) {
				display: flex;
				flex-direction: row;
				align-items: center;
			}
			&:not(:last-child) {
				margin-bottom: rem(20);
				.sFeaturesOfWork__icon-wrap {
					&:before {
						content: '';
					}
				}
			}
		}
		h4 {
			margin-bottom: rem(2);
		}
		p {
			margin-bottom: 0;
			font-size: rem(15);
			color: $info;
			line-height: 1.60em;
		}
	}
	&__icon-wrap {
		position: relative;
		background-color: #fff;
		border-radius: 50%;
		min-width: rem(100);
		min-height: rem(100);
		margin-right: rem(45);
		display: flex;
    align-items: center;
    justify-content: center;
		margin-bottom: rem(15);
		width: max-content;
		@include media-breakpoint-up(md) {
			margin-bottom: 0;
			&:before {
				position: absolute;
				display: block;
				height: 20px;
				width: 3px;
				bottom: -20px;
				left: 50%;
				transform: translateX(-50%);
				background-color: rgba($color: $info, $alpha: .1);
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sFeaturesOfWork