mixin sFeaturesOfWork(data)
	// start sFeaturesOfWork
	+b.SECTION.sFeaturesOfWork.section#sFeaturesOfWork&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Особенности работы
				p Наша компания работает в&nbsp;рамках действующего законодательства РФ. Наши сотрудники быстро реагируют на&nbsp;изменения, которые происходят в&nbsp;сфере ритуальных услуг в&nbsp;Санкт-Петербурге и&nbsp;области.<br>Основной спектр услуг, которые оказывает ГКРС:
			ul
				li
					h6 Вызов агента
					p специалист помогает собрать и&nbsp;подготовить нужные документы, необходимые для захоронения, получения социальной помощи, консультирует по&nbsp;вопросам погребения, организации поминок и&nbsp;т.д.
	// end sFeaturesOfWork