
	// start .topLine
	.topLine {
		padding-top: rem(17);
		padding-bottom: rem(32);
		h1 {
			margin: 0;
		}
		.row {
			align-items: center;
		}
		&__left {
			padding-right: rem(30);
		}
		&__right {
			padding-left: rem(30);
			border-left: 1px solid rgba($info, .2);
		}
		&__header {
			margin-bottom: rem(44);
			align-items: center;
			justify-content: space-between;
			ul {
				display: flex;
				justify-content: end;
				margin: 0;
				list-style-type: none;
			}
			li:not(:last-child) {
				margin-right: 20px;
			}
		}

		.small {
			display: inline-block;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			font-size: 12px;
			font-weight: 600;
		}

		&__action {
			a {
				font-size: rem(18);
				font-weight: 800;
				color:$secondary;
				border-bottom: 2px dotted $secondary;
			}
		}

		&__footer {
			.small {
				position: absolute;
				top:-50%;
				right: 0;
				font-size: 13px;
				text-transform:none;
				letter-spacing: normal;
			}
		}

		&__footer-tel {
			a {
				position: relative;
				font-weight: 800;
				font-size: rem(21);
				text-align: right;
				letter-spacing: 0.02em;
				color: $body-color;
			}
		}

		&__btn {
			border-width: 2px;
			font-size: 12px;
		} 

		&__buttons {
			button {
				width: rem(36);
				height:  rem(36);
				padding: 0;
			}
			a {
				display: inline-block;
				width:  rem(36);
				height:  rem(36);
			}
			img {
				max-width: 100%;
				max-height: 100%;
			}
		}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.topLine