mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		.container
			.row
				+e.left.col-12.col-sm-auto
					+e.logo(href="#")
						+img('img/logo.png')
				+e.right.col
					+e.header.row.d-none.d-lg-flex
						.col-12.col-xl
							.small Ритуальные услуги в&nbsp;Санкт&nbsp;-&nbsp;Петербурге и&nbsp;области
						.col.col-xl
							ul
								li
									a(href="#").small О компании
								li
									a(href="#").small Цены
								li
									a(href="#").small FAQ
								li
									a(href="#").small Пособия
								li
									a(href="#").small Контакты
					+e.footer.row
						+e.action.col-auto.d-none.d-lg-block
							a(href="#") Что делать, если умер близкий человек
						+e.soc-col.col-auto
							+soc
						+e.footer-tel.col-auto
							.d-block.d-lg-none
								+item-sos('phone')
							a(href="tel:+79111377077").d-none.d-lg-block +7-911-137-70-77
								.small Работаем круглосуточно
						+e.callback.col-auto.d-none.d-lg-block
							+btn('Перезвоните мне').btn.btn-sm.btn-outline-secondary
						+e.buttons.col-auto
							button.btn
								+img('img/topline-search.png')
							a(href="#")
								+img('img/topline-cart.png')

	// end topLine