// start .sProduct
.sProduct {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
	.row {
		--bs-gutter-y: #{rem(30)};
		margin-bottom: rem(70);
	}
	&__sliders-wrap, &__descr {
		height: 100%;
		background-color: $white;
		border-radius:$border-radius;
		overflow: hidden;
	}
	&__sliders-wrap {
		padding: rem(23);
	}
	.swiper-slide {
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__img-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		max-height: 475px;
		img {
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
		}
	}
	.swiper-button-hand {
		align-items: center;
    border: none;
    color: #aaaebe;
    display: flex;
    height: rem(50);
    justify-content: center;
    width: rem(50);
		&-prev {
			left: 0
		}
		&-next {
			right: 0
		}
		.icon {
			font-size: 20px;
		}
	}
	&__descr {
		padding: rem(51) rem(60);
		@include media-breakpoint-down(md) {
			padding: rem(20);
		}
	}
	&__content {
		display: flex;
		flex-wrap: wrap;
		@include media-breakpoint-up(xl) {
			max-width: 298px;
		}
	}
	h1 {
		margin-bottom: rem(8);
		line-height: 140%;
	}
	dl {
		width: 100%;
		display: grid;
		grid-template-columns:42% auto;
		grid-template-rows: repeat(3, 40px) 50px;
		align-items: end;
	}
	dt {
		display: inline;
		font-weight: 800;
		font-size: 12px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: $info;
		margin: 0;
	}
	dd {
		display: inline;
		margin: 0;
		font-weight: 500;
		font-size: 16px;
	}
	
	& &__value {
		font-weight: 600;
		font-size: 28px;
	}
	
	.form-control {
		padding: 0 20px 0 0;
		border: none;
		background-color: transparent;
		font-weight: 500;
		font-size: 16px;
		background-image: url('../img/svg/select-arrow.svg');
		background-repeat: no-repeat;
		background-position: right center;
	}
	.addBlock {
		margin: 0  rem(15) rem(15) 0;
		@include media-breakpoint-up(xl) {
			margin: 0 auto rem(15) 0;
		}
	}
	.btn {
		margin-bottom: rem(15);
	}
	.btn-primary {
		@include media-breakpoint-up(xl) {
			width: 100%;
		}
	}
	.btn-secondary {
		margin-right: rem(15);
		@include media-breakpoint-up(xl) {
			margin-right: 0;
		}
	}
	
	.small {
		width: 100%;
		font-size: 14px;
	}
	
	.tabs {
		&__caption {
			justify-content: flex-start;
			margin-bottom: rem(30);
		}
		p {
			text-align: left;
			font-weight: 500;
			font-size: rem(19);
			color: $info;
		}
	}
	
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sProduct
.product-thumbs-slider {
	.swiper-slide {
		border: 5px solid transparent;
	}
	img {
		max-width: 100%;
		max-height: 100%;
		max-height: 121px;
		object-fit: contain;
	}
	& .swiper-slide-thumb-active {
		border: 5px solid rgba(0, 165, 241, 0.1);
		border-radius: 8px;
	}
}