mixin sProduct(data)
	// start sProduct
	+b.SECTION.sProduct.section#sProduct&attributes(attributes)
		.container
			.row
				.order-2.order-xl-1.col-xl-7
					+e.sliders-wrap
						.swiper.product-slider.product-slider--js
								.swiper-wrapper
									.swiper-slide
										+e.img-wrap
											+img('img/product-main-1.png')
									.swiper-slide
										+e.img-wrap
											+img('img/product-main-1.png')
								+arrow()
						.swiper.product-thumbs-slider.product-thumbs-slider--js
							.swiper-wrapper
								.swiper-slide
									+img('img/product-thumbs-1.png')
								.swiper-slide
									+img('img/product-thumbs-2.png')
				.order-1.order-xl-1.col-xl-5
					+e.descr
						+e.title.h2.H1 Гроб лакированный белый
						+e.content
							dl
								dt Материал:
								dd дуб, ткань
								dt Цвет:
								dd белый
								dt Размеры:
								dd
									+select('','1,9','1,9','1,9')
								dt Цена:
								+e.value.DD 21 500 ₽
							+addblock()
							+btn('В корзину','button').btn.btn-secondary
							+btn('Купить в 1 клик').btn.btn-primary
							.small Ближайшая доставка: завтра (26 марта)
			.tabs
				.tabs__caption
					.tabs__btn.active
						h5 Описание
					.tabs__btn
						h5 Доставка и оплата
					.tabs__btn
						h5 Задать вопрос
				.tabs__content.active
					p Разнообразный и богатый опыт начало повседневной работы по формированию позиции играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Товарищи! начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации систем массового участия.
				.tabs__content
					p Разнообразный и богатый опыт начало повседневной работы по формированию позиции играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Товарищи! начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации систем массового участия.
				.tabs__content
					p Разнообразный и богатый опыт начало повседневной работы по формированию позиции играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Товарищи! начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации систем массового участия.
	// end sProduct