.menu{
	@include media-breakpoint-up(xl) {

		display: flex;
		text-align: center;
		margin-left: 0 !important;
		flex-wrap: wrap;
	}
	@include media-breakpoint-up(xxl) {
		// justify-content: flex-end;
		@include roww(34px);
	}
	@include media-breakpoint-up(xl) {
		// justify-content: flex-end;
		@include roww(20px);
	}

	list-style: none;
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	li{
		
		// margin-left: 0;
		// margin-right: 0;
		padding: 0;
	}
	a{
		display: block;
		color: $body-color;
		font-weight: 600;
		font-size: 16px;
		padding: rem(20) calc(var(--bs-gutter-x) / 2);
	}
}

.burger-col {
	@include media-breakpoint-down(sm) {
		order: 1;
	}
}

.toggle-menu-mobile {
	--h: 4px;
	--color: #{$primary};
	--position: calc(var(--h) * 2);
	&.on span {
		--color: transparent;
	}
	
	&.on  { 
		--position: 0; 
		--rotate: 45deg;
	}
	display: block;
	height: calc(var(--h)* 12);
	position: relative; 
	font-size: 32px;
	width: 1em;
	cursor: pointer;
	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	} 
	span {
    display: block;
    margin-bottom: auto;
    margin-top: auto;
    position: absolute;
    top: 50%;
		// @include a-cent(y);
		display: block;
		// margin-bottom: 0;
	}

	span:before { 
		top: var(--position);
		transform: rotate3d(0,0,1, var(--rotate, 0));
	}

	span:after {
		bottom: var(--position);
		transform: rotate3d(0,0,1, calc(-1 * var(--rotate,0)));
	}
	span,
	span:after,
	span:before {
		// width: 32px;
		width: 1em;
		height: var(--h);
		background-color: var(--color);
		transition: all 0.3s;
		backface-visibility: hidden; 
		transform-origin: 50% 50%;
	} 
}
@include media-breakpoint-down(xl) {

	

	.menu-mobile {
		position: fixed !important;
		z-index: 999;
		max-width: 85%;
		height: calc(var(--vh, 1vh) * 100);
		width: 280px;
		top: 0;
		// left: 0;
		right: 0;
		background-color: $body-bg;
		&:not(.active){
			transform: translate3d(120%, 0,0);
			--opacity: 0;
			.toggle-menu-mobile{
				opacity: 0;
			}
		}
		@include mt(.6s);
		will-change: transform;

		
		.toggle-menu-mobile { 
			margin-left: -15%;
			position: absolute; 
			left: 0;
			right: auto;
			color: #FFF;
			top: 10px;
			z-index: 9999; 
			height: 4px;
			span:after,
			span:before {
				--color: #ffffff;
			}
		}
		&__inner {
			padding: rem(20);
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			height: 100%;
			@include mt(.3s);
			transition-delay: .4s;
			opacity: var(--opacity);
			.main-menu {
				margin-bottom: 10px;
				// padding-top: 15px;
				a {
					color: $body-color;
					padding: 10px;
				}
			}
			.btn {
				margin-bottom: 10px;
				width: 100%;
			}
			.action {
				font-weight: 800;
				color:$secondary;
				font-size: 14px;
				text-decoration: underline;
				text-decoration-style: dashed;
				text-decoration-color: $secondary;
				margin-bottom: 10px;
			}
			.soc {
				width: auto;
			}
			.soc__item {
				width: 25px;
				height: 25px;
				.icon {
					font-size: 16px;
				}
			}
		}
		
		.small {
			display: inline-block;
			margin-bottom: 15px;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			font-size: 12px;
			font-weight: 600;
		}

		&.active { 
			.toggle-menu-mobile {
				opacity: 1;
			}
		}
		

		ul {
			position: relative;
		}

		li {
			display: block;
			margin: 0;
			border-top: 1px solid rgba(255, 255, 255, .13);

			a {
				// font-size: 16px;

				padding: 10px;
				display: block;

			}
		}
	}
}
.menu-item-has-children {
	position: relative;
	color: $body-color;
	@include media-breakpoint-up(xl) {
		color: $white;
		margin-top: 10px;
		margin-bottom: 10px;
		text-transform: none;
	}
	&:hover {
	.sub-menu {
			display: block;
		}	
	}
	& > a {
		color: $body-color;
		@include media-breakpoint-up(xl) {
			margin-left: 0;
			border-radius: $border-radius;
			background-image: url('../img/btn-arrow.svg');
			background-repeat: no-repeat;
			background-position:93%;
			background-repeat: no-repeat;
			background-color: $primary;
			padding: rem(13) rem(30) rem(13) rem(10);
			color: $white;
		}
		@include media-breakpoint-up(xxl) {
			width: 265px;
			padding: rem(13) rem(43) rem(13) rem(8);
		}
	}
}