mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-xl-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.container
				.row
					//- .col-auto
					//- 	+btn('Ритуальные услуги', 'button').btn.btn-primary.d-none.d-xl-block
					.col.order-xl-0.order-last
						.menu-mobile.menu-mobile--js
							.menu-mobile__inner
								+menu-toggle()
								+mnu()
								ul.main-menu.d-block.d-xl-none
									li
										a(href="#") О компании
									li
										a(href="#") Цены
									li
										a(href="#") FAQ
									li
										a(href="#") Пособия
									li
										a(href="#") Контакты
								.small.d-block.d-xl-none Ритуальные услуги в&nbsp;Санкт&nbsp;-&nbsp;Петербурге и&nbsp;области
								a.action(href="#").d-block.d-xl-none Что делать, если умер близкий человек
								+btn('Перезвоните мне').btn.btn-sm.btn-outline-secondary.d-block.d-xl-none
								+soc
									+item-sos('telegram')
									+item-sos('viber')
									+item-sos('whatsapp')
									+item-sos('phone')
					//- .col-auto.d-xl-none
					//- 	+menu-toggle()
	// end top-nav