.top-nav {
	// background: svg-load('../svg/check.svg',  stroke=$primary); 
	// 
	@include media-breakpoint-down(xl) {
		// position: fixed;
		// bottom: 0;
		// width: 100%;
		// z-index: 10;
		// background-color: $white;
	}
	&__container {
		// padding-top: 6px;
		@include media-breakpoint-down(xl) {
			padding-bottom: 3px;
		}
		@include media-breakpoint-up(xl) {
			border-top: 1px solid rgba($info, 0.2);
			border-bottom: 1px solid rgba($info, 0.2);
		}
	}

	.row {
		align-items: center;
	}

	.soc {
		@include media-breakpoint-up(xl) {
			display: none;
		}
	}

	@include media-breakpoint-up(xl) {
		// background-color: #000;
		// border: 1px solid #000;
	}

	@include media-breakpoint-up(lg) {
		// background-color: red;

	}
	p{
		@include ell();
	}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}
.sub-menu {	
	@include media-breakpoint-up(xl) {
		background-color: $white;
		width: 100%;
		border-radius: $border-radius;
		position: absolute;
		text-align: left;
		z-index: 500;
		display: none;		
	}
	a {
		padding: 10px !important;
		padding-bottom: 20px !important;
		@include media-breakpoint-down(xl) {
			margin-left: 13px;
			color: $info;
			padding: 5px !important;
		}
	}
}
	


