mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-xl-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.container
				.row
					//- .col-auto
					//- 	+btn('Ритуальные услуги', 'button').btn.btn-primary.d-none.d-xl-block
					.col.order-xl-0.order-last
						.menu-mobile.menu-mobile--js
							.menu-mobile__inner
								+menu-toggle()
								.small.d-block.d-xl-none Ритуальные услуги в&nbsp;Санкт&nbsp;-&nbsp;Петербурге и&nbsp;области
								ul.main-menu.d-block.d-xl-none
									li
										a(href="#").small О компании
									li
										a(href="#").small Цены
									li
										a(href="#").small FAQ
									li
										a(href="#").small Пособия
									li
										a(href="#").small Контакты
								a.action(href="#").d-block.d-xl-none Что делать, если умер близкий человек
								+mnu()
								+btn('Перезвоните мне').btn.btn-sm.btn-outline-secondary.d-block.d-xl-none
					//- .col-auto.d-xl-none
					//- 	+menu-toggle()
	// end top-nav