.top-nav {
	// background: svg-load('../svg/check.svg',  stroke=$primary); 
	// 
	@include media-breakpoint-down(lg) {
		position: fixed;
		bottom: 0;
		width: 100%;
		z-index: 10;
		background-color: $white;
	}
	&__container {
		// padding-top: 6px;
		padding-bottom: 3px;
		border-top: 1px solid rgba($info, 0.2);
		border-bottom: 1px solid rgba($info, 0.2);
	}

	.row {
		align-items: center;
	}

	button {
		display: flex;
		justify-content: flex-start;
		padding: rem(13) rem(43) rem(13) rem(8);
		background-image: url('../img/btn-arrow.svg');
		background-repeat: no-repeat;
		background-position: 95% center;
		text-transform: none;
		width: 125%;
	}
	@include media-breakpoint-up(xl) {
		// background-color: #000;
		// border: 1px solid #000;
	}

	@include media-breakpoint-up(lg) {
		// background-color: red;

	}
	p{
		@include ell();
	}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}


