// start .sFaq
.sFaq {
	--sPT: #{rem(25)};
	--sPB: #{rem(25)};
	// --sTPB: ;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(50)};
		--sPB: #{rem(50)};
	}
	&__wrap {
		background-color: $white;
		border-radius: 8px;
		padding: rem(50) rem(40);
		@include media-breakpoint-up(lg) {
			padding: rem(100) rem(80);
		}
	}
	.section-title {
		margin-bottom: rem(40);
		h2 {
			margin-bottom: 0;
		}
	}
	&__ddGroup-wrap {
		max-width: rem(910);
		margin-left: auto;
		margin-right: auto;
	}
	.dd-group {
		&__item {
			&.active {
				// margin-bottom: rem(30);
				.dd-group__head {
					p {
						color: $blue;
					}
					.icon {
						color: $blue;
						transform: rotate(90deg);
					}
				}
			}
		}
		&__head {
			display: flex;
			align-items: center;
			margin-bottom: rem(15);
			cursor: pointer;
			.icon {
				@include mt;
				font-size: rem(21);
				fill: none;
				stroke-width: 2px;
				stroke: currentColor;
				margin-right: rem(14);
				min-width: rem(21);
			}
			p {
				@include mt;
				margin-bottom: 0;
				font-weight: 800;
				font-size: rem(21);
				margin-bottom: 0;
				@include media-breakpoint-down(md) {
					font-size: rem(15);
				}
			}
		}
		&__content {
			display: none;
			padding-top: rem(4);
			padding-bottom: rem(30);
			@include media-breakpoint-down(md) {
				padding-bottom: rem(15);
			}
			&.active {
				display: block;
			}
			p {
				margin-bottom: 0;
				color: $info;
				font-size: rem(19);
				line-height: 1.60em;
				@include media-breakpoint-down(md) {
					font-size: rem(15);
				}
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sFaq