mixin sFaq(data)
	// start sFaq
	+b.SECTION.sFaq.section#sFaq&attributes(attributes)
		.container
			+e.wrap
				+b.section-title.text-center
					h2 Ответы на вопросы
				+e.ddGroup-wrap
					+ddGroup()
						+ddGroupItem('ddGroup-icon','Что делать сразу после смерти человека?', 'active')
							p Потеря близкого человека&nbsp;&mdash; это тяжёлый удар. Нашей миссией является смягчение этого удара и&nbsp;оказание помощи Вам и&nbsp;Вашим близким в&nbsp;такой непростой период. Мы&nbsp;готовы взять на&nbsp;себя организацию похорон и&nbsp;позаботиться о&nbsp;достойном уходе усопшего, сохранив его светлый образ в Вашей памяти.
						+ddGroupItem('ddGroup-icon', 'Можно&nbsp;ли все сделать без участия агентства?')
							p Потеря близкого человека&nbsp;&mdash; это тяжёлый удар. Нашей миссией является смягчение этого удара и&nbsp;оказание помощи Вам и&nbsp;Вашим близким в&nbsp;такой непростой период. Мы&nbsp;готовы взять на&nbsp;себя организацию похорон и&nbsp;позаботиться о&nbsp;достойном уходе усопшего, сохранив его светлый образ в Вашей памяти.
						+ddGroupItem('ddGroup-icon', 'Сколько стоит место на&nbsp;кладбище?')
							p Потеря близкого человека&nbsp;&mdash; это тяжёлый удар. Нашей миссией является смягчение этого удара и&nbsp;оказание помощи Вам и&nbsp;Вашим близким в&nbsp;такой непростой период. Мы&nbsp;готовы взять на&nbsp;себя организацию похорон и&nbsp;позаботиться о&nbsp;достойном уходе усопшего, сохранив его светлый образ в Вашей памяти.
						+ddGroupItem('ddGroup-icon', 'Какие документы нужны для похорон?')
							p Потеря близкого человека&nbsp;&mdash; это тяжёлый удар. Нашей миссией является смягчение этого удара и&nbsp;оказание помощи Вам и&nbsp;Вашим близким в&nbsp;такой непростой период. Мы&nbsp;готовы взять на&nbsp;себя организацию похорон и&nbsp;позаботиться о&nbsp;достойном уходе усопшего, сохранив его светлый образ в Вашей памяти.
						+ddGroupItem('ddGroup-icon', 'Есть&nbsp;ли у&nbsp;Вас похороны для людей, принадлежащих не&nbsp;к&nbsp;православной церкви?')
							p Потеря близкого человека&nbsp;&mdash; это тяжёлый удар. Нашей миссией является смягчение этого удара и&nbsp;оказание помощи Вам и&nbsp;Вашим близким в&nbsp;такой непростой период. Мы&nbsp;готовы взять на&nbsp;себя организацию похорон и&nbsp;позаботиться о&nbsp;достойном уходе усопшего, сохранив его светлый образ в Вашей памяти.
						+ddGroupItem('ddGroup-icon', 'Зачем нужно отпевание?')
							p Потеря близкого человека&nbsp;&mdash; это тяжёлый удар. Нашей миссией является смягчение этого удара и&nbsp;оказание помощи Вам и&nbsp;Вашим близким в&nbsp;такой непростой период. Мы&nbsp;готовы взять на&nbsp;себя организацию похорон и&nbsp;позаботиться о&nbsp;достойном уходе усопшего, сохранив его светлый образ в Вашей памяти.
						+ddGroupItem('ddGroup-icon', 'Что делать с&nbsp;самоубийцами?')
							p Потеря близкого человека&nbsp;&mdash; это тяжёлый удар. Нашей миссией является смягчение этого удара и&nbsp;оказание помощи Вам и&nbsp;Вашим близким в&nbsp;такой непростой период. Мы&nbsp;готовы взять на&nbsp;себя организацию похорон и&nbsp;позаботиться о&nbsp;достойном уходе усопшего, сохранив его светлый образ в Вашей памяти.
						+ddGroupItem('ddGroup-icon', 'Человек умер в&nbsp;другой стране, как перевезти его в&nbsp;Санкт-Петербург?')
							p Потеря близкого человека&nbsp;&mdash; это тяжёлый удар. Нашей миссией является смягчение этого удара и&nbsp;оказание помощи Вам и&nbsp;Вашим близким в&nbsp;такой непростой период. Мы&nbsp;готовы взять на&nbsp;себя организацию похорон и&nbsp;позаботиться о&nbsp;достойном уходе усопшего, сохранив его светлый образ в Вашей памяти.
						+ddGroupItem('ddGroup-icon', 'Кремация или погребение? Что выбрать?')
							p Потеря близкого человека&nbsp;&mdash; это тяжёлый удар. Нашей миссией является смягчение этого удара и&nbsp;оказание помощи Вам и&nbsp;Вашим близким в&nbsp;такой непростой период. Мы&nbsp;готовы взять на&nbsp;себя организацию похорон и&nbsp;позаботиться о&nbsp;достойном уходе усопшего, сохранив его светлый образ в Вашей памяти.
						+ddGroupItem('ddGroup-icon', 'Что делать с&nbsp;самоубийцами?')
							p Потеря близкого человека&nbsp;&mdash; это тяжёлый удар. Нашей миссией является смягчение этого удара и&nbsp;оказание помощи Вам и&nbsp;Вашим близким в&nbsp;такой непростой период. Мы&nbsp;готовы взять на&nbsp;себя организацию похорон и&nbsp;позаботиться о&nbsp;достойном уходе усопшего, сохранив его светлый образ в Вашей памяти.
						+ddGroupItem('ddGroup-icon', 'Кто такие черные агенты? И&nbsp;как их&nbsp;избежать?')
							p Потеря близкого человека&nbsp;&mdash; это тяжёлый удар. Нашей миссией является смягчение этого удара и&nbsp;оказание помощи Вам и&nbsp;Вашим близким в&nbsp;такой непростой период. Мы&nbsp;готовы взять на&nbsp;себя организацию похорон и&nbsp;позаботиться о&nbsp;достойном уходе усопшего, сохранив его светлый образ в Вашей памяти.
	// end sFaq