mixin sReferences(data)
	// start sReferences
	+b.SECTION.sReferences.section#sReferences&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Справочные данные
			.tabs
					.tabs__caption
						.tabs__btn.active
							h5 Морги
						.tabs__btn
							h5 Кладбища
						.tabs__btn
							h5 Крематории
						.tabs__btn
							h5 Колумбарии
					.tabs__content.active
						+e.map-wrap
							<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1ef6a33a0537480fb5277d58b79e0e9c1c4d5dc23f0c9366d6cd6ed58e74cf45&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>
						+btn('Подробнее').btn
					.tabs__content
						+e.map-wrap
							<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1ef6a33a0537480fb5277d58b79e0e9c1c4d5dc23f0c9366d6cd6ed58e74cf45&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>
						+btn('Подробнее').btn
					.tabs__content
						+e.map-wrap
							<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1ef6a33a0537480fb5277d58b79e0e9c1c4d5dc23f0c9366d6cd6ed58e74cf45&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>
						+btn('Подробнее').btn
					.tabs__content
						+e.map-wrap
							<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1ef6a33a0537480fb5277d58b79e0e9c1c4d5dc23f0c9366d6cd6ed58e74cf45&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>
						+btn('Подробнее').btn
			.row
	// end sReferences