 
	  
.soc{
	@include roww(6px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		width: rem(24);
		height: rem(24);
		border-radius: 50%;
		@include mt;
		display: grid;
		place-items: center;
		&--telegram {
			background-color: #2F89CE;
		}
		&--viber {
			background-color: #7C509A;
		}
		&--whatsapp {
			background-color: #48C95F;
		}
		&:hover{
		 	box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			opacity: .8 ;
		}
		
	}
	.icon{
		font-size: 13px;
		line-height: 24px;
		color: $white;
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}

.page-head {
	padding-top: rem(20);
	padding-bottom: rem(31);
}

.breadcrumb {
	flex-wrap: nowrap;
	margin-bottom: 0;
	&-item {
		width: max-content;
		// font-size: rem(16);
		&.active {
			a {
				color: $info;
			}
		}
		& + & {
			padding-left: rem(17);
			&:before {
				padding-right: rem(17);
			}
		}
	}
}