mixin sArticle(data)
	// start sArticle
	+b.SECTION.sArticle.section#sArticle&attributes(attributes)
		.container
			.row.justify-content-between
				.col-md-7.col-xl-9
					article
						h1 Похороны за&nbsp;счет государства
						p Чтобы организовать похороны умершего, требуются большие затраты. К&nbsp;ним относятся покупка и&nbsp;транспортировка гроба, приготовление могилы, венки, памятник, поминки, услуги морга.
						p Если умерший не&nbsp;откладывал деньги в&nbsp;сундук, как это делают многие пенсионеры, то&nbsp;его родственникам придется раскошелиться на&nbsp;приличную сумму. Но&nbsp;мало кто знает, что похороны можно осуществить за&nbsp;счет государства или хотя&nbsp;бы возместить часть затрат.
						p В&nbsp;этой статье будет дан ответ на&nbsp;вопрос&nbsp;&mdash; где получить похоронные деньги от&nbsp;государства, а&nbsp;также какая сумма при этом будет выделена
						+e.img-wrap
							+img('img/sArticle-img.png')
						blockquote Существует закон &laquo;О&nbsp;погребении и&nbsp;похоронном деле&raquo; (&#8470;&nbsp;8-ФЗ), согласно которому физическое лицо может получить денежное пособие, если за&nbsp;его счет были организованы похороны. Этими людьми могут быть не&nbsp;только родственники и&nbsp;законные представители усопшего, но&nbsp;и&nbsp;знакомые, которые осуществляли захоронение за&nbsp;свои денежные средства.
						p Пройдемся по&nbsp;порядку в&nbsp;положениях закона. В&nbsp;статье 9&nbsp;&laquo;Гарантированный перечень услуг по&nbsp;погребению&raquo; указано, что государство обязано на&nbsp;безвозмездной основе осуществить следующий перечень услуг:
						ul
							li нахождение тела в&nbsp;морге
							li предоставление гроба и&nbsp;его доставка к&nbsp;месту похорон
							li оформление всех документов
							li собственно, само погребение или кремация
						p Ответственность за&nbsp;осуществление услуг лежит на&nbsp;специализированной похоронной службе. Стоимость услуг определяется местным правительством совместно с&nbsp;Пенсионным Фондом и&nbsp;ФСС и&nbsp;возмещается в&nbsp;течение 10&nbsp;дней с&nbsp;момента обращения. ПФ&nbsp;и&nbsp;ФСС возмещают денежные средства за&nbsp;гарантийные ритуальные услуги в&nbsp;размере, не&nbsp;превышающем 4&nbsp;тысячи рублей.
						p Вместо безвозмездных ритуальных услуг существует возможность оформить социальное пособие в&nbsp;виде денежных выплат в&nbsp;течение полгода со&nbsp;дня смерти. Гражданин, который воспользовался гарантийными услугами, претендовать на&nbsp;выплату денежной компенсации не&nbsp;может.
						h2 Размер пособия
						p Предусматривается ежегодная индексация в&nbsp;соответствии с&nbsp;бюджетом на&nbsp;будущий год. В&nbsp;законе можно найти фиксированную стоимость пособия. На&nbsp;2018 год с&nbsp;учетом инфляции и&nbsp;индексации размер компенсации оказался равен чуть больше пяти с&nbsp;половиной тысяч рублей.
						p Не&nbsp;во&nbsp;всех регионах он&nbsp;одинаковый. Учитываются также районные коэффициенты, которые в&nbsp;разных регионах имеют неодинаковые значения. Рассмотрим на&nbsp;примере. В&nbsp;республике Алтай действует коэффициент в&nbsp;размере 1,4. То&nbsp;есть это прибавка в&nbsp;40% к&nbsp;фиксированной сумме.
						p Следователь но, денежные выплаты на&nbsp;похороны в&nbsp;этом регионе составят почти 8&nbsp;тысяч рублей. А&nbsp;вот в&nbsp;Тульской области районного коэффициента как такового нет (он&nbsp;равен&nbsp;1), поэтому размер пособия будет равен фиксированной сумме.
						blockquote В северных регионах действует коэффициент 2, соответственно люди получат около одиннадцати с половиной тысяч рублей.
						p В&nbsp;каких-то регионах даже предусматриваются надбавки к&nbsp;основному социальному пособию на&nbsp;погребение. В&nbsp;столице к&nbsp;основному пособию еще выплачивается 11&nbsp;тысяч рублей. Общая сумма будет равна 16701&nbsp;рублю.
						p Если усопший являлся ветераном войны или инвалидом, то&nbsp;сумма может достигнуть отметки в&nbsp;38&nbsp;тысяч рублей.
				.col-md-5.col-xl-3
					.nav-ddgroup
						+ddGroup()
							+ddGroupItem('dd-arrow-up', 'Статьи', activeClasses='active')
								ul
									li
										a(href="#").active Статья №1
									li
										a(href="#") Статья №2
									li
										a(href="#") Статья №3
							+ddGroupItem('dd-arrow-up', 'Ритуальные услуги', activeClasses='')
								ul
									li
										a(href="#") Статья №1
									li
										a(href="#") Статья №2
					+e.nav-title Популярные разделы
					+b.article-services
						+servicesSlide('5','Кремация','','Узнать подробнее')
						+servicesSlide('1','Погребение','','Узнать подробнее')
					+b.advice-form
						+form-wrap()
							+e.title Нужна консультация?
							+e.descr Оставьте заявку, и&nbsp;мы перезвоним в&nbsp;течение 10&nbsp;минут
							+input('Имя', 'text','')(required)
							+input('+7 (_ _ _) _ _ _-_ _-_ _', 'tel','')(required)
							button.btn.btn-secondary(type="submit") Отправить
							.small Нажимая &laquo;Отправить&raquo;, Вы&nbsp;соглашаетесь с&nbsp;политикой конфиденциальности данных.


	// end sArticle