// start .sArticle
.sArticle {
	// --sPT: ;
	--sPB:#{rem(38)};
	// --sTPB: ;
	article {
		max-width: 880px;
		ul {
			margin-bottom: rem(28);
			padding-top: rem(8);
			padding-left: rem(33);
			list-style-type: none;
			font-size: rem(16);
			li {
				position: relative;
				padding-left: rem(35);
				&:not(:last-child) {
					margin-bottom: rem(7);
				}
				&:before {
					content: url('../img/svg/article-list-marker.svg');
					position: absolute;
					line-height: 1;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}
	h1 {
		margin-bottom: rem(30);
	}
	p {
		margin-bottom: rem(22);
	}
	&__img-wrap {
		margin: 41px 0;
		max-width: 100%;
		border-radius: $border-radius;
		overflow: hidden;
		@include block(880, 380);
		img {
			position: absolute;
			bottom: -20%;
			left: 0;
			width: 100%;
			object-fit: cover;
		}
	}
	&__main-text {
		position: relative;
		margin: 0 auto;
		padding: rem(48) 0 rem(52);
		max-width: rem(817);
		line-height: 160%;
		font-family: "Open Sans";
		font-style: italic;
		font-size: rem(21);
		color: $primary;
		text-align: center;
		&::before {
			content: '';
			position: absolute;
			width: rem(44);
			height: 2px;
			background-color: $primary;
			top: 4%;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.nav-ddgroup {
		margin-bottom: rem(35);
		p {
			margin-bottom: 6px;
		}
	}
	.dd-group {
		padding-bottom: rem(30);
	}
	&__nav-title {
		margin-bottom: rem(20);
		text-align: center;
		font-weight: 800;
	}
	.advice-form {
		margin-top: rem(30);
	}
	h2 {
		padding: 32px 0 21px;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sArticle
.article-services {
	&__wrap {
		margin-bottom: rem(15);
		text-align: center;
		padding-top: rem(30);
		padding-bottom: rem(32);
		background-color: $white;
		border-radius: $border-radius;
		.icon {
			margin-bottom: rem(14);
			font-size: rem(56);
			color: $primary
		}
	}
	&__title {
		margin-bottom: rem(11);
		font-weight: bold;
	}
	.btn {
		padding: rem(10) rem(20);
		font-size: 12px;
		border: 2px solid $body-bg;
	}
}