mixin calculatorItem(title)
	.col-md-6.col-lg-4 
		+e.select-wrap
			+select(title, 'Не выбрано', '1', '2', '3', '4').form-select
			//- +icon('dd-arrow-up')

mixin sCalculator(data)
	// start sCalculator
	+b.SECTION.sCalculator.section#sCalculator&attributes(attributes)
		.container
			//- +b.section-title.text-center
			//- 	h1 Калькулятор стоимости ритуальных услуг
			.tabs.swiper
				.tabs__caption.swiper-wrapper
					.tabs__btn.swiper-slide.active Погребение
					.tabs__btn.swiper-slide Кремация
				.tabs__content.active
					+e.text Расчет стоимости погребения
					+e.wrap
						h3 1. Ритуальные принадлежности
						+e.row.row
							+calculatorItem('Гроб')
							+calculatorItem('Крест')
							+calculatorItem('Табличка')
							+calculatorItem('Похоронный комплект')
							+calculatorItem('Одежда')
							+calculatorItem('Тапочки')
							+calculatorItem('Венок')
							+calculatorItem('Лента на венок')
							+calculatorItem('Корзина')
					+e.wrap
						h3 2. Ритуальные Услуги
						+e.row.row
							+calculatorItem('Доставка ритуальных товаров')
							+calculatorItem('Носильщики')
							+calculatorItem('Перевозка к месту захоронения')
							+calculatorItem('Сбор документов')
							+calculatorItem('Церемониймейстер')
							+calculatorItem('Ритуальный лифт (сингуматор)')
							+calculatorItem('VIP катафалк')
							+calculatorItem('Дополнительный транспорт')
				.tabs__content
					+e.text Расчет стоимости погребения
					+e.wrap
						h3 1. Ритуальные принадлежности
						+e.row.row
							+calculatorItem('Гроб')
							+calculatorItem('Крест')
							+calculatorItem('Табличка')
							+calculatorItem('Похоронный комплект')
							+calculatorItem('Одежда')
							+calculatorItem('Тапочки')
							+calculatorItem('Венок')
							+calculatorItem('Лента на венок')
							+calculatorItem('Корзина')
					+e.wrap
						h3 2. Ритуальные Услуги
						+e.row.row
							+calculatorItem('Доставка ритуальных товаров')
							+calculatorItem('Носильщики')
							+calculatorItem('Перевозка к месту захоронения')
							+calculatorItem('Сбор документов')
							+calculatorItem('Церемониймейстер')
							+calculatorItem('Ритуальный лифт (сингуматор)')
							+calculatorItem('VIP катафалк')
							+calculatorItem('Дополнительный транспорт')
			+e.result
				p Итого: #[span 120 000 руб.]
				+form-wrap()
					+input('имя', 'text')
					+input('+7 (___) ___-__-__', 'tel')
					+e.button.BUTTON(type="submit").btn.btn-secondary Оформить заказ
	// end sCalculator